APP_ENV=development

DATABASE_URL=postgresql://postgres:12345@localhost:5432/financial_sentiment_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=financial_sentiment_db
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=financial-news